@font-face {
    font-family: oxanium;
    src: url(oxanium/Oxanium-Regular.ttf);
  }
  body{
    font-family: oxanium;
  }

main{
    padding: 2.5em;
  }
  header{ 
    padding:0.5em;
  }
  .logo{ 
    height: 7em; width: 7em;
    margin:1.5em;
  }
  footer{
    padding-left: 2em;}
